* {
    font-family: Montserrat, sans-serif;
    margin: 0px;
    padding: 0px;
}

.navigation {
    height: 100px;
    background-color: black;
    display: flex;
    flex-flow: row;
    align-items: center;
    justify-content: space-between;
    padding: 35px;

}

.navigation img {
    height: 100px;
}


ul {
    list-style: none;
    margin: 0px;
    display: flex;
    flex-flow: row;
    font-size: 25px;
}

li  {
    padding: 50px;
}

a {
    text-decoration: none;
    color:white;
}

.logoArea  {
    display: flex;
    flex-flow: row;
    align-items: flex-end;
}

nav a:hover {
    color:rgb(139, 0, 0);
}

nav a:active {
    color:rgb(255, 0, 0);
}

.zitat {
    display: flex;
    position: absolute;
    padding-left: 470px;
    padding-top: 350px;
    background: none;

}


.img_wein {
    background-color:black;
    padding-bottom: 100px;
}

.home_h1 {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size:50px;
    background-color:rgb(200, 200, 200);
    color:black;
    padding-top: 100px;
    padding-bottom: 50px;
    letter-spacing: 10px;
}

.parent_video {
    display: flex;
    flex-flow:row;
    background:rgb(200, 200, 200);
    justify-content:space-evenly;
    align-content:center;
    padding-bottom: 150px;
    padding-top: 100px;
}

.child_magazin {
    width: 700px;
    padding-bottom: 30px;
}
.child_slider {
    color:brown;
    height: 200px;
    width: 200px;
}

.slidecontainer {
    width: 100%;
}
  
.slider {
    -webkit-appearance: none;
    width: 100%;
    height: 25px;
    background:hsl(0, 0%, 100%, 0.5);
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}
  
.slider:hover {
    opacity: 1;
}
  
.slider::-moz-range-thumb {
    width: 50px;
    height: 25px;
    background:rgb(139, 0, 0);
    cursor: pointer;
}

.container {
  border-radius: 20px;
  background-color:rgb(200, 200, 200);
  padding: 20px;
}

.team_img img{
    width: 100%;
}

.parent_box {
    display: flex;
    padding:110px;
    flex-direction: row;
    justify-content:space-evenly;
    align-items: center;
    background: local;
    background-color: black;
    
}

.child_box {
    width: 250px;
    height: 550px;
    text-align:justify;
    letter-spacing: -0.5px;
    border-radius: 10px;
    color:white;
}

.child_box h3{
    padding-top: 25px;
    text-align:left;
}

.child_box h5{
    padding-top: 10px;
    letter-spacing: 2.5px;
    text-align: left;
}

.child_box p {
    padding-top: 15px;
}

.child_box img {
    border-radius: 5px;
    border: solid 2px;
}

.container_contact {
    display: flex;
    flex-direction:row;
    justify-content:flex-end;
    padding-right:250px;
    align-items:center;
    background-image: url(../images/csm_Weinschule-c-Shutterstock-2640_d712a3428d.jpg);
    background-repeat: no-repeat;
    background-size:cover;
    background-size: 100% 100%;
    height: 1130px;
    
}

.map {
    padding-right: 130px;
}

.form h2{
    color:black;
    padding-bottom: 20px;
}

.form label{
    color:black;
}

.form .button {
    background-color: black;
    color: white;
    border: none;
    padding: 10px;
}

.form .button:hover {
    background-color:rgb(139, 0, 0);
}

.produkt_h1 {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size:50px;
    background-color:rgb(200, 200, 200);
    color:black;
    padding-top: 100px;
    padding-bottom: 50px;
    letter-spacing: 10px;
}

.produkt_parent {
    display: flex;
    flex-direction:row;
    align-items: center;
    justify-content: center;
    background-color: aquamarine;
}

.produkt_child {
    background-color:blue;
    justify-content:space-evenly;
    height: 400px;
    width: 300px;
}


















.footer {
    height: 25px;
    background-color: black;
    color:white;
    padding: 15px;
    word-spacing: 2px;
    font-size: 15px;
    display: flex;
    flex-direction:row;
    justify-content:center;
    align-items:center;
}

.footer p {
    padding:40px;
}