h1 {
    background-color:lightsalmon;
    text-align: center;
    font-size: xx-large;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-style: unset;
    font-variant: small-caps;
}

p {
   color:darkblue;
   font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; 
}         

span.ingredient {
    color:indianred;}
 
ul {
    color:darkorange;}

a[href^="https"]:before {
    content: "🔗 ";}
  
  a[href^="mailto"]:before {
    content: "📧 ";}
  
  a[href^="tel"]:before {
    content: "📞 ";}
  
  li {
    margin-bottom:15px;
  }