body {
  margin: 0px;
}

.parent {
  background-color:royalblue;
  height: 100px;
  width: clac(100% - 60px);
  margin: 10px;
  padding: 20px;
}

.child {
  background-color: lightsalmon;
  height: 30px;
  width: 30px;
  margin: 35px calc(50% - 15px);

}



h1 {
    text-align: center;
    font-size: xx-large;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-style: unset;
    font-variant: small-caps;
}

p {
   color:darkblue;
   font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; 
}         

span.ingredient {
    color:indianred;}
 
ul {
    color:darkorange;}

a[href^="https"]:before {
    content: "🔗 ";}
  
  a[href^="mailto"]:before {
    content: "📧 ";}
  
  a[href^="tel"]:before {
    content: "📞 ";}
  
  li {
    margin-bottom:15px;
  }

